<!DOCTYPE html>
<html>

<head>
    <title>Clima</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>

    <header>
        <h2>CONSULTA EL CLIMA</h2>
    </header>

    <div id="input">
        <form method="POST">
            <input id="inputText" name="ciudad" placeholder="Introduce una ciudad...">
            </br>
            <button id="button" type="submit">CONSULTAR</button>
        </form>
    </div>

    <div id="resultado">
        {% if clima %}

        <h1>{{ clima.ciudad }}</h1>

        <div class="clima-principal">

            <!--<img class="icono" src="https://openweathermap.org/img/wn/{{ clima.icon }}@2x.png">-->
			<img  class="icono" src="{{ url_for('static', filename='img/' + clima.icono) }}">
           <!--<img class="icono" src="/static/img/sun.png">-->

            <h1 class="temperatura">
                {{ clima.temp }}°
            </h1>

        </div>
        
        <p>Sensación térmica: {{ clima.feels_like }} °C</p>
        <p>Temperatura mínima: {{ clima.temp_min }} °C</p>
        <p>Temperatura máxima: {{ clima.temp_max }} °C</p>
        <p>Humedad: {{ clima.humidity }} %</p>
        <p>Viento: {{ clima.wind }} Km/h</p>

        <p>Clima: {{ clima.desc }}</p>
        <!-- <p>ID clima: {{ clima.weather_id }}</p> -->

        {% endif %}
    </div>

</body>

</html>