<!DOCTYPE html>
<html>
<head>
<title>Clima</title>
</head>

<body>

<h2>Consulta el clima</h2>

<form method="POST">
<input name="ciudad" placeholder="Ciudad">
<button type="submit">Consultar</button>
</form>

{% if clima %}

<h2>{{ clima.ciudad }}</h2>

<img src="https://openweathermap.org/img/wn/{{ clima.icon }}@2x.png">

<p>Temperatura: {{ clima.temp }} °C</p>
<p>Sensación térmica: {{ clima.feels_like }} °C</p>
<p>Temperatura mínima: {{ clima.temp_min }} °C</p>
<p>Temperatura máxima: {{ clima.temp_max }} °C</p>
<p>Humedad: {{ clima.humidity }} %</p>
<p>Viento: {{ clima.wind }} Km/h</p>

<p>Clima: {{ clima.desc }}</p>
<p>ID clima: {{ clima.weather_id }}</p>

{% endif %}

</body>
</html>